# Base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre_base_datos
DIRECT_URL=postgresql://usuario:contraseña@host:puerto/nombre_base_datos

# Configuración del servidor
PORT=3000
NODE_ENV=development

# URLs de frontend y backend
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3001

# Configuraciones de seguridad
NEON_SSL_REJECT_UNAUTHORIZED=true
